
#nav-bar {
  background-color: #00a087;
  color: #244751;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 2.4;
  padding-left: 10px;
  color: #e8fdff;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .compose {
  background: #e8fdff;
  border-radius: 7px;
  margin: 10px;
  float: right;
  border: black solid 1px;
}

#nav-bar .compose-icon {
  height: 20px;
  width: 20px;
  color: #1ba28d;
  position: relative;
  top: 3px;
}


#nav-bar .compose:hover {
  background: white;
}


#nav-bar .compose p {
  float: left;
  color: #1ba28d;
  margin: 15px;
  font-size: x-large;

}

#nav-bar .compose:hover p {
  color: black;
}


#nav-bar .register {
  background: #e8fdff;
  border-radius: 7px;
  margin: 10px;
  float: right;
  border: black solid 1px;
}

#nav-bar .register-icon {
  height: 20px;
  width: 20px;
  color: #1ba28d;
  position: relative;
  top: 3px;
}


#nav-bar .register:hover {
  background: white;
}


#nav-bar .register p {
  float: left;
  color: #1ba28d;
  margin: 15px;
  font-size: x-large;

}

#nav-bar .register:hover p {
  color: black;
}

#nav-bar .login {
  background: #e8fdff;
  border-radius: 7px;
  margin: 10px;
  float: right;
  border: black solid 1px;
}

#nav-bar .login:hover {
  background: white;
}


#nav-bar .login p {
  float: left;
  color: #1ba28d;
  margin: 15px;
  font-size: x-large;

}

#nav-bar .login:hover p {
  color: black;
}