$tweeter-green: #e8fdff;

@mixin nav-icons {
  background: $tweeter-green;
  border-radius: 7px;
  border: black solid 1px;
  margin: 10px;
}

@mixin nav-text {
  color: #1ba28d;
  font-size: x-large;
  margin: 15px;
}

@mixin smaller-text {
  font-size: smaller !important;
}

#nav-bar {
  background-color: #00a087;
  color: #244751;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

@media (max-width: 450px) {
  #nav-bar .nav-buttons{
    align-items: center;
    display: flex;
    margin-right: -31px;
  }

  .logo {
    margin-left: -24px;
  }

  .header {
    padding-left: 0px !important;
  }

  #compose-text {
    font-size: 0 !important;
  }

  .login {
    margin: 0px !important;
  }

  .logout {
    margin: 0px !important;
    padding: 3px;
  }

  .login p {
    @include smaller-text
  }

  .register p {
    @include smaller-text
  }

  .logout p {
    @include smaller-text
  }
}

#nav-bar .nav-buttons{
  margin-right: -31px;
  display: flex;
}

#nav-bar .nav-left {
  display: flex;
}

#nav-bar .header {
  color: $tweeter-green;
  float: left;
  font-size: 2em;
  line-height: 2.4;
  padding-left: 10px;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .compose {
  @include nav-icons;
}

#nav-bar .compose-icon {
  height: 20px;
  position: relative;
  top: 3px;
  width: 20px;
}


#nav-bar .compose:hover {
  background: white;
}


#nav-bar .compose p {
  @include nav-text;
}

#nav-bar .compose:hover p {
  color: black;
}


#nav-bar .register {
  @include nav-icons;
}

#nav-bar .register-icon {
  height: 20px;
  position: relative;
  top: 3px;
  width: 20px;
}

#nav-bar .register:hover {
  background: white;
}

#nav-bar .register p {
  @include nav-text;
}

#nav-bar .register:hover p {
  color: black;
}

#nav-bar .login {
  @include nav-icons;
}

#nav-bar .login:hover {
  background: white;
}


#nav-bar .login p {
  @include nav-text;
}

#nav-bar .login:hover p {
  color: black;
}

#nav-bar .logout {
  @include nav-icons;}

#nav-bar .logout:hover {
  background: white;
}

#nav-bar .logout p {
  @include nav-text;
}

#nav-bar .logout:hover p {
  color: black;
}

#nav-bar .nav-buttons {
  justify-content: right;
}