.tweet {
  background: white;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: #d3d3d3 solid 1px;
  position: relative;
  top: 2em;
  bottom: 2em;
}

.tweet header {
  opacity: 0.7;
}

.tweet:hover header {
  opacity: 1;
}
/*
.tweet .header:hover {
  background: red;
}*/


.tweet header {
  border-radius: 5px 5px 0 0;
  height: 60px;
  background: #f3f3f3;
  left: 0;
  right: 0;
  top: 0;
}

.tweet .avatar {
  float: left;
  height: 45px;
  width: 45px;
  margin-left: 8px;
  margin-top: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.tweet .name {
  float: left;
  color: #637c82;
  font-size: large;
  font-weight: bold;
  margin-top: 1.8%;
  margin-left: 1.6%
}

.tweet .handle {
  float: right;
  color: #aeafae;
  font-size: smaller;
  margin-right: 2.3%;
}

.tweet .the-Tweet{
  font-size: 12;
  text-align: left;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 8%;
  margin-bottom: 8%;
  color: #39565e;
}


.tweet .footer {
  text-align: left;
  padding-left: 18px;
  font-size: small;
  border-top: 1px solid #f1f1f1;
  /*margin-top: 3%;*/
}

.tweet .footer-icon {
  visibility: hidden;
  float: right;
  height: 16px;
  width: 16px;
  margin: 3px;
  position:relative;
  top: -30px;
}

.tweet:hover .footer-icon {
  visibility: visible;
}

.tweet .likes {
  /*float:right;*/
  text-align: right;
  margin-right: 70px;
}

.tweet .date_created {
  text-align: left;
}